.flex {
    display: flex;

}

.flex-reverse {
    display: flex;
    flex-direction:row-reverse;
}

.project-container {
  display: flex;
  margin:100px;

}




.project-images {
  width: 700px;
  height: 450px;
  margin:50px;
}

.project-container h1 {
  font-size: 50px;
  margin: 0 auto;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top:50px;
}

.description-container p {
  padding: 50px;
  color: white;
}

.tech-image {
  width: 50px;
  height: 50px;
  /* background-color:rgb(255, 255, 255); */
  margin: 10px;
  border-radius: 50%;
  padding: 5px;
}

.tech-container {
  display: flex;
  margin: 0 auto;
  /* background-color: rgb(255, 255, 255); */
  max-width: 100%;
  flex-wrap: wrap;
}
