.flex {
  display: flex;
}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.projects {
  margin-top: 50px;
  text-align: center;
}

.projects .fire-store {
  background: red !important;
  margin: 500px;
}

.project-container {
  display: flex;
  margin: 100px;
  margin-bottom: 350px;
  margin-top: 100px;
  
}

.project-container h1 {
  font-size: 50px;
  margin: 0 auto;
}

.strikethrough {
  text-decoration: line-through;
}

.project-images {
  width: 750px;
  height: 435px;
  margin-bottom: 20px;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.description-container h1 {
  margin-top: -50px;
}

.description-container p {
  padding: 20px;
  color: white;
  margin-top: 50px;
}

.tech-image {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 50%;
  padding: 10px;
}

.tech-container {
  display: flex;
  margin: 0 auto;
  /* background-color: rgb(255, 255, 255); */

  margin-top: -330px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
}

hr {
  display: block; height: 1px;
     border-top: 1px solid #ccc;
    margin: 0 auto; padding: 0; width: 50%;margin-bottom: 200px;
}

h2 {
  color: white;
  font-size: 25px;
  margin: 30px;
}
.project-title {
  font-size: 80px;
  color: white;
  margin-top: -90px;
}
