.sidebar {
  height: 100vh;
  width: 450px;
  background-color: #111;
  color: white;
  position: absolute;
  border-radius: 30px;
  box-shadow: 0 0 25px 10px #111;
  opacity: 89%;
  z-index: 5;
}

.sidebar__item {
  text-align: center;
  padding: 25px 0;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 80px;
  font-family: Kano;
  font-weight: bold;
  opacity: 100%;
  z-index: 6;
}

.sidebar-collapsed {
  color: white;
  text-transform: uppercase;
  font-family: Kano;
  margin: 20px;
  margin-top: 50px;
  z-index: 5;
  position: absolute;
  width: 100%;
}

.sidebar-collapsed__item {
  cursor: pointer;
  padding-bottom: 25px;

}


